.contact-section {
  padding-bottom: 25px;
  background-color: var(--background-color);
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--light-text-color);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-icon {
  color: var(--primary-color);
  font-size: 1.2rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: transparent;
}

.contact-form textarea {
  resize: vertical;
  height: 150px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--light-text-color);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.contact-form button:hover {
  background-color: #2980b9; /* Darker blue */
}

.social-links {
  text-align: center;
  margin-top: 30px;
}

.social-links a {
  margin: 0 10px;
  font-size: 1.2rem;
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: var(--secondary-color);
}